<div class = "container">

  <div class = "row">
    <div class = "col-md-12">
      <div class = "text-center">

        <h1>Burger Time: Eat Da Burger Edition</h1>

        <img src = "./img/burgers.png">
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-6">
      <div class = "text-center">
        <h2> Available to Eat </h2>
          {{#each burgers}}
            {{#unless this.devoured}}
              <p>
                {{this.id}}. {{this.burger_name}}
                
    <form action="/{{this.id}}?_method=PUT" method="POST">
                  <input type="hidden" name="id" value="{{this.id}}">
                  <button type="submit" id = "devour">Devour It!</button>
                </form>
              </p>
              {{/unless}}
            {{/each}}
        </div>
      </div>

    <div class = "col-md-6">
      <div class = "text-center">
      <h2>Devoured</h2>
      {{#each burgers}}
            {{#if this.devoured}}
              <p>
                {{this.id}}. {{this.burger_name}}
                <div class = "dev">{{this.devoured}}</div>
              </p>
              {{/if}}
            {{/each}}
      </div>
    </div>
  </div>

  <div class = "row">
    <div class = "col-md-12">
      <div class = "text-center">
        <h2>Add a Burger</h2>
        <form method="POST" action="/" class="button-size">
        	<textarea type="text" name="burger"></textarea></br>
          <button type="submit">Burger Time</button>
        </form>
      </div>
    </div>
  </div>


  <div class = "row">
    <div class = "footer">
    </div>
  </div>

</div>